@font-face {
  font-family: "PminGlui";
  src: url(../../fonts/PMINGLUI.ttf);
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focusactive {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.page {
  background-color: #fff;
}
.page .CV-block {
  margin: 0 auto;
  width: 1170px;
  height: 2000px;
  background-color: #fff;
}
.page .CV-block .left-container {
  width: 420px;
  background-color: #e5f1ff;
  height: 2200px;
}
.page .CV-block .left-container .foto-block {
  width: 290px;
  height: 290px;
  border-radius: 50%;
  border: solid 10px #0266de;
  background-color: #fff;
  position: absolute;
  margin-top: 65px;
  margin-left: 65px;
}
.page .CV-block .left-container .foto-block img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.page .CV-block .left-container .about-me {
  position: absolute;
  margin-top: 410px;
  margin-left: 20px;
}
.page .CV-block .left-container .about-me img {
  float: left;
}
.page .CV-block .left-container .about-me .about-me__text {
  position: absolute;
  margin-left: 100px;
  width: 250px;
  height: 100px;
}
.page .CV-block .left-container .about-me .about-me__text h2 {
  padding: 20px 0 100px 0;
  font: 100% PminGlui;
  color: #0266de;
  font-size: 38px;
  font-weight: 900;
}
.page .CV-block .left-container .about-me .about-me__text p {
  line-height: 1.6;
  font-size: 20px;
  color: #6b6b69;
}
.page .CV-block .left-container .contacts {
  position: absolute;
  margin-left: 20px;
  margin-top: 900px;
}
.page .CV-block .left-container .contacts img {
  margin-top: 100px;
  float: left;
}
.page .CV-block .left-container .contacts .contacts__text {
  position: absolute;
  margin-left: 100px;
  width: 250px;
  height: 100px;
}
.page .CV-block .left-container .contacts .contacts__text h2 {
  padding: 20px 0 60px 0;
  font: 100% PminGlui;
  color: #0266de;
  font-size: 38px;
  font-weight: 900;
}
.page .CV-block .left-container .contacts .contacts__text p {
  line-height: 3;
  font-size: 20px;
  color: #6b6b69;
}
.page .CV-block .left-container .education {
  position: absolute;
  margin-left: 20px;
  margin-top: 1300px;
}
.page .CV-block .left-container .education img {
  float: left;
}
.page .CV-block .left-container .education .education__text {
  position: absolute;
  margin-left: 100px;
  width: 250px;
  height: 100px;
}
.page .CV-block .left-container .education .education__text h2 {
  padding: 20px 0 60px 0;
  font: 100% PminGlui;
  color: #0266de;
  font-size: 38px;
  font-weight: 900;
}
.page .CV-block .left-container .education .education__text p {
  line-height: 2;
  font-size: 20px;
  color: #6b6b69;
}
.page .right-container {
  position: absolute;
  width: 750px;
  height: 2000px;
  padding-top: 150px;
  margin-left: 580px;
  margin-top: -2200px;
}
.page .right-container .title {
  padding-bottom: 110px;
}
.page .right-container .title h1 {
  font-size: 110px;
  font: PminGlui;
}
.page .right-container .title h2 {
  font-size: 60px;
}
.page .right-container .experience {
  width: 300px;
  height: 500px;
}
.page .right-container .experience h2 {
  font-style: 100% PminGlui;
  color: #0266de;
  font-size: 38px;
  font-weight: 900;
}
.page .right-container .professional-skills {
  padding-bottom: 100px;
}
.page .right-container .professional-skills h2 {
  font-style: 100% PminGlui;
  color: #0266de;
  font-size: 38px;
  font-weight: 900;
}
.page .right-container .professional-skills .content ul li {
  line-height: 3;
}
.page .right-container .professional-skills .content ul li p {
  text-transform: uppercase;
  font-size: 22px;
}
.page .right-container .professional-skills .content ul li .skale {
  position: absolute;
  margin: -36px 350px;
}
.page .right-container .professional-skills .content ul li .skale .line {
  width: 300px;
  height: 10px;
  background-color: #0266de;
}
.page .right-container .professional-skills .content ul li .skale .line .right-rounding {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #0266de;
  border-radius: 50%;
  margin-left: -5px;
}
.page .right-container .professional-skills .content ul li .skale .line .left-rounding {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #0266de;
  border-radius: 50%;
  margin-left: 295px;
}
.page .right-container .professional-skills .content ul li .skale .line .point {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #0266de;
  border-radius: 50%;
  margin: -8px 93px;
}
.page .right-container .Interests {
  position: absolute;
}
.page .right-container .Interests .interests__title {
  padding-bottom: 50px;
}
.page .right-container .Interests .interests__title h2 {
  font-style: 100% PminGlui;
  color: #0266de;
  font-size: 38px;
  font-weight: 900;
}
.page .right-container .Interests .interests__list ul li {
  display: inline-block;
}
.page .right-container .Interests .interests__list ul li p {
  color: #707070;
  font-size: 30px;
  padding-left: 35px;
}